.header {
  font-size: 1.5rem;
  gap: .25em;
}

.content-empty-cart {
  display: flex;
  flex-direction: column;
  gap: .5em;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}
.content__items, .content__items__header {
  margin-bottom: 1em;
}
.content__items__header, .content__items__item {
  display: grid;
  grid-template-columns: 4fr repeat(4, 1fr);
  align-items: center;
  gap: 1em;
  padding: 1em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
}
.content__items__item__select {
  display: flex;
  align-items: center;
  gap: .5em;
}
.content__items__header__select__checkbox {
  margin-right: .5em;
}
.content__items__item__select__label__img {
  max-width: 100px;
  border-radius: var(--border-radius);
}
.content__items__item__quant {
  display: flex;
  align-items: center;
  gap: .5em;
}

/*remove item*/
.form__btns {
  display: flex;
  gap: .5em;
}

/*checkout form*/
.content__checkout-form {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  margin-left: auto;
}
.content__checkout-form__info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.content__checkout-form__info div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--lightgrey);
}

.content__checkout-form__addr div {
  display: flex;
  justify-content: space-between;
}
.content__checkout-form__addr select {
  width: 80px;
}