.content {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  max-width: var(--max-screen-size-section);
  margin: 0 auto;
  padding: var(--section-padding);
}

.content-empty-cart {
  display: flex;
  flex-direction: column;
  gap: .5em;
  align-items: center;
}

.content-product li {
  margin-top: .5em;
}

.content-product-header, .content-product-section {
  display: grid;
  grid-template-columns: 4fr repeat(4, 1fr);
  gap: 1em;
  padding: 1em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
}

.content-product-section {
  align-items: center;
}

.content-product-header-product, .content-product-section-product, .content-product-section-product label {
  display: flex;
  align-items: center;
  gap: .5em;
}
.content-product-section-product-img {
  background-color: var(--darkwhite);
  border-radius: var(--border-radius);
  max-width: 100px;
}
.content-product-section-product-name {
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-product-section-quantity {
  display: flex;
  align-items: center;
  gap: .5em;
}
.content-checkout {
  display: flex;
  justify-content: right;
  align-items: end;
  gap: var(--section-gap);
}

/*remove item popup*/
.remove-item {
  position: relative;
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  background-color: var(--white);
}
.remove-item-close {
  position: absolute;
  top: 0;
  right: 0;
}
.remove-item-btns {
  display: flex;
  gap: 1em;
}

/*checkout form*/
.checkout-form {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  margin-left: auto;
}
.checkout-form-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.checkout-form-info div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--lightgrey);
}
.checkout-form-btn {
  text-align: center;
  width: 100%;
}

.checkout-form-address {
  display: flex;
  flex-direction: column;
  gap: .5em;
}
.checkout-form-address div {
  display: flex;
  justify-content: space-between;
}
#select-del-addr {
  width: 80px;
}