.product-detail-box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  padding: 1em;
  width: 100%;
  max-width: 1200px;
  background: var(--white);
}
.product-detail-box__img {
  max-width: 400px;
  border-radius: var(--border-radius);
}
.product-detail-box__info-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.product-detail-box__info-box__btns {
  display: flex;
  gap: .5em;
}

@media (max-width: 740px) {
  .product-detail-box {
    flex-direction: column;
    width: max-content;
  }
  .product-detail-box__img {
    max-width: 300px;
  }
}