.header {
  justify-content: space-between;
}

/*logo*/
.header__logo {
  font-size: 2rem;
}

/*utils*/
.header__utils {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 1em;
}
.header__utils__search {
  position: relative;
  display: flex;
  width: 100%;
  gap: .5em;
  align-items: center;
}
.header__utils__search__input {
  width: 100%;
  padding: .5em 1em;
}
.header__utils__search__btn {
  border: none;
  background: transparent;
}

.red-dot {
  position: absolute;
  top: 0;
  right: 0;
  width: .5rem;
  height: .5rem;
  background: var(--red);
  border-radius: 50%;
}
.header__utils__cart, .header_utils__orders {
  position: relative;
  display: flex;
  align-items: center;
}

/*auth*/
.header__auth {
  position: relative;
  display: flex;
  gap: 1em;
}
.header__auth__icon {
  display: none;
  border: none;
  background: none;
}
.header__auth__popup {
  position: absolute;
  left: 50%;
  top: 120%;
  display: flex;
  flex-direction: column;
  gap: .5em;
  transform: translateX(-50%);
  padding: .5em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  background: var(--white);
}

@media (max-width: 500px) {
  .header__auth__icon{
    display: block;
  }
  .header__auth__btn {
    display: none;
  }
}

/*search popup*/
.header__search-popup {
  position: absolute;
  top: 125%;
  left: -20%;
  right: -20%; 
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  min-width: max-content;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  background: var(--white);
}

.header__search-popup__categories {
  display: flex;
  gap: .5em;
}
.header__search-popup__categories__item {
  display: flex;
  align-items: center;
  gap: .25em;
  padding: .25em .5em;
  cursor: pointer;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
}
.header__search-popup__categories__item__check {
  font-size: 1rem;
}

.header__search-popup__slider {
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 100%;
  max-width: 500px;
}
.header__search-popup__slider__title {
  display: flex;
  justify-content: space-between;
}
.header__search-popup__slider__bar {
  position: relative;
  margin-bottom: 1em;
}
.header__search-popup__slider__bar__fill {
  position: absolute;
  height: .5em;
  border-radius: var(--border-radius);
  background: var(--blue);
  z-index: 1;
}
.header__search-popup__slider__bar__range[type="range"] {
  appearance: none;
  position: absolute;
  width: 100%;
  background: transparent;
  left: 0;
}
.header__search-popup__slider__bar__range[type="range"]::-webkit-slider-thumb {
  appearance: none;
  position: relative;
  height: 1em;
  width: 1em;
  top: -.3em;
  border-radius: 50%;
  background: var(--blue);
  cursor: pointer;
  z-index: 1;
}
.header__search-popup__slider__bar__range[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: .5em;
  border-radius: var(--border-radius);
  border: 1px solid var(--lightgrey);
}

.header__search-popup__result {
  display: flex;
  flex-direction: column;
  gap: .5em;
}
.header__search-popup__result__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
  cursor: pointer;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  padding: .5em;
}
.header__search-popup__result__item__img {
  max-width: 84px;
  border-radius: var(--border-radius);
  background: var(--darkwhite);
}


