.cart {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  max-width: var(--max-screen-size-section);
  margin: 0 auto;
  padding: var(--section-padding);
}
.cart-product li {
  margin-top: .5em;
}

.cart-product-header, .cart-product-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 1em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
}

.cart-product-section {
  align-items: center;
}
.cart-product-section:hover {
  background-color: var(--darkwhite);
}
.cart-product-section img {
  background-color: var(--darkwhite);
  border-radius: var(--border-radius);
  max-width: 100px;
}
.cart-product-section-quantity {
  width: 50px;
  padding-left: .5em;
}

/*checkout*/
.cart-checkout {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  width: 100%;
  max-width: 340px;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
}
.cart-checkout div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--lightgrey);
}
