.content {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  max-width: var(--max-screen-size-section);
  margin: 0 auto;
  padding: var(--section-padding);
}
.content-product li {
  margin-top: .5em;
}

.content-product-header, .content-product-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  padding: 1em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
}

.content-product-section {
  align-items: center;
}
.content-product-section img {
  background-color: var(--darkwhite);
  border-radius: var(--border-radius);
  max-width: 100px;
}
.content-product-section-quantity {
  display: flex;
  align-items: center;
  gap: .5em;
}

/*checkout form*/
.content-checkout {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  width: 100%;
  max-width: 340px;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
}
.content-checkout div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--lightgrey);
}

/*remove item popup*/
.remove-item {
  position: relative;
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  background-color: var(--white);
}
.remove-item-close {
  position: absolute;
  top: 0;
  right: 0;
}
.remove-item-btns {
  display: flex;
  gap: 1em;
}