.detail {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  padding: var(--section-padding);
  width: 100%;
  max-width: 1200px;
  background-color: var(--white);
}
.detail img {
  max-width: 400px;
  background-color: var(--darkwhite);
  border-radius: var(--border-radius);
}

.detail-right {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.detail-right-info {
  display: flex;
  flex-direction: column;
  gap: .5em;
}
.detail-right-info-price {
  font-size: 2em;
  color: var(--blue);
  font-weight: bold;
}
.detail-right-btns {
  display: flex;
  gap: 1em;
}

.detail-close {
  position: absolute;
  right: 2px;
  top: 2px;
}

@media (max-width: 544px) {
  .detail {
    flex-direction: column;
    width: max-content;
  }
  .detail img {
    max-width: 300px;
  }
}