.login-form, .register-form {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  background-color: var(--lightblue);
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  padding: 2em;
}

.form-close {
  position: absolute;
  top: 2px;
  right: 2px;
}
.login-form-field {
  display: flex;
  flex-direction: column;
  gap: .5em;
}
.login-form-field input {
  padding: .5em;
}
