.login-form, .register-form {
  position: relative;
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  background-color: var(--lightblue);
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  padding: 2em;
}

.form-close {
  position: absolute;
  top: 2px;
  right: 2px;
}
.login-form-field, .register-form-field {
  display: flex;
  flex-direction: column;
  gap: .25em;
}
.login-form-field input, .register-form-field input {
  padding: .5em;
}


@media (max-height: 820px) {
  .register-form {
    gap: 1.25em;
    padding: 1em;
  }
}