@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
:root {
  --lightgrey: #c4c7c5;
  --lightblue: #f0f4f9;
  --blue: #1a73e8;
  --darkblue: #1358b2;
  --black: #1f1f1f;
  --white: #ffff;
  --darkwhite: #f5f5f5;
  --red: rgb(255, 100, 100);
  --green : rgb(0, 156, 0);

  --border-radius: 4px;
  --max-screen-size: 1920px;
  --max-section-size: 1440px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
  max-width: var(--max-screen-size);
  min-height: 100vh;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
i, label {
  cursor: pointer;
}
i {
  font-size: 1.75rem;
}
a {
  text-decoration: none;
  color: var(--black);
} 
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/*general classes*/
.header--g {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-screen-size);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1em;
  border-bottom: 1px solid var(--lightgrey);
  z-index: 99;
}
.content--g {
  padding-top: 6em !important; 
}


.text--cap--g {
  text-transform: capitalize;
}
.text--uc--g {
  text-transform: uppercase;
}
.text-overflow--g {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.btn--g {
  font-size: 1rem;
  font-weight: 500;
  padding: .5em 1em;
  width: max-content;
  height: max-content;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.btn--prim--g {
  color: var(--white);
  background: var(--blue);
}
.btn--sec--g {
  color: var(--blue);
  background: transparent;
  border-color: var(--lightgrey);
}
.btn--none--g {
  border: none;
  background: transparent;
}
.btn--mw--g {
  width: 100%;
}

.icon--small--g {
  font-size: 1rem;
}

.link--g {
  color: var(--blue);
  width: max-content;
  text-decoration: underline;
  border: none;
  background: none;
}
.link--red {
  color: var(--red);
}

.hide--g {
  display: none !important;
}

.backdrop--g {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background: rgba(133, 133, 133, 0.5);
  z-index: 99;
}

/*form*/
.form--g {
  position: relative;
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  background: var(--lightblue);
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  padding: 2em;
}

.form__close-btn--g {
  position: absolute;
  top: 2px;
  right: 2px;
}
.form__field--g {
  display: flex;
  flex-direction: column;
  gap: .25em;
}
.form__field__input--g {
  font-size: 1rem;
  padding: .5em;
}

.form__invalid-msg--g {
  color: var(--red);
  font-size: 1rem;
}

/*footer*/
.footer--g {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--white);
}
.footer__copyright--g {
  text-align: center;
  border-top: 1px solid var(--lightgrey);
  padding: 1em 0 1em 0;
}


/* testing */
.b {
  /* border: .5px solid rgb(255, 92, 92) !important; */
}
.b2 {
  /* border: 1px solid blue !important; */
}

/*media query*/
@media (max-width: 720px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 344px) {
  html {
    font-size: 8px;
  }
}