/*header*/
.header {
  justify-content: space-evenly;
}

/* .header-logo {
  font-size: 2rem;
} */

.header-ulti {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 1em;
}

.header-ulti-search-box {
  position: relative;
  display: flex;
  width: 100%;
  gap: .5em;
  align-items: center;
}
#search-field {
  width: 100%;
  padding: .5em 1em;
}

.header-ulti-search-box-btn {
  border: none;
  background-color: transparent;
}

.favorite, .header-ulti-cart, .header-ulti-orders {
  position: relative;
  display: flex;
  align-items: center;
}


/*cart-popup*/
.pop-up {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  display: block;
  z-index: 1;
}
.cart-popup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1em;
  border: 1px solid var(--lightgrey);
  padding: .5em;
  border-radius: var(--border-radius);
  background-color: var(--white);
}
.cart-popup-items-container {
  display: flex;
  flex-direction: column;
  gap: .5em;
}
.cart-popup-title {
  width: 100%;
}
.cart-popup-item {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: .5em;
  align-items: center;
  gap: .5em;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.cart-popup-item img {
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
}
.cart-popup-item-price {
  color: var(--blue);
}

/*auth*/
.header-auth {
  position: relative;
  display: flex;
  gap: 1em;
}
.header-auth-profile {
  display: none;
}
.header-auth-profile-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .5em;
  left: 30%;
  top: 120%;
  transform: translateX(-50%);
  padding: .5em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  background-color: var(--white);
}


/*filter-search*/
.filter-search {
  position: absolute;
  top: 95%;
  width: 95%;
  max-width: var(--max-screen-size-section);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  background-color: var(--white);
}
.filter-search-category {
  display: flex;
  gap: .5em;
}
.filter-search-category-item {
  display: flex;
  align-items: center;
  gap: .25em;
  padding: .25em .5em;
  cursor: pointer;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
}
.filter-search-category-item i {
  font-size: 1rem;
}
.filter-search-slider {
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 100%;
  max-width: 500px;
}
.filter-search-slider-content {
  display: flex;
  justify-content: space-between;
}
.filter-search-slider-content div {
  display: flex;
  gap: .5em;
}
.filter-search-slider-range {
  position: relative;
  margin-bottom: 1em;
}
.filter-search-slider-range-fill {
  background-color: var(--blue);
  position: absolute;
  z-index: 1;
  height: .5em;
  border-radius: var(--border-radius);
}
.filter-search-slider-range-input[type="range"] {
  appearance: none;
  position: absolute;
  width: 100%;
  background-color: transparent;
  left: 0;
}
.filter-search-slider-range-input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  position: relative;
  height: 1em;
  width: 1em;
  top: -.3em;
  border-radius: 50%;
  background-color: var(--blue);
  cursor: pointer;
  z-index: 1;
}
.filter-search-slider-range-input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: .5em;
  /* background: var(--darkwhite); */
  border-radius: var(--border-radius);
  border: 1px solid var(--lightgrey);
}


.filter-search-result {
  display: flex;
  flex-direction: column;
  gap: .5em;
}
.filter-search-result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
  cursor: pointer;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
  padding: .5em;
}
.filter-search-result-item img {
  max-width: 84px;
  background-color: var(--darkwhite);
  border-radius: var(--border-radius);
}

@media (max-width: 500px) {
  .header-auth-profile {
    display: block;
  }
  .header-auth-login, .header-auth-logout {
    display: none;
  }
}
