.content {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--section-padding);
}
.order-container-title, .order-container-section-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1em;
  padding: 1em;
  border: 1px solid var(--lightgrey);
  border-radius: var(--border-radius);
}

.order-container-section-product {
  margin-top: .5em;
}
.order-container-section-product img {
  background-color: var(--darkwhite);
  border-radius: var(--border-radius);
  max-width: 200px;
}
.order-container-section-product .btn2  {
  display: flex;
  align-items: center;
  padding: 0 .5em;
  margin-top: .5em;
}
.order-container-section-product .btn1 {
  margin-right: 0;
  margin-left: auto;
}
