.track {
  position: relative;
  padding: var(--section-padding);
  border-radius: var(--border-radius);
  background-color: var(--white);
  width: 100%;
  max-width: 1000px;
}

.track-close {
  position: absolute;
  top: 0;
  right: 0;
}

.track img {
  width: 50%;
  max-width: 320px;
  background-color: var(--darkwhite);
  border-radius: var(--border-radius);
  margin: 1em 0;
}

.track-bar-title {
  display: flex;
  justify-content: space-between;
}
.track-bar-progress {
  height: 1.5em;
  border-radius: 15px;
  border: 1px solid var(--lightgrey);
  background: linear-gradient(to right, var(--blue) 50%, white 50%);
}